.Square {
   display: flex;
   border: 2px solid black;
   height: 100%;
   width: 100%; 
   background-color: goldenrod;
   justify-content: center;
   align-items: center;
   cursor: default;
   font-size: 2rem;
   transition: all 0.5s;
   user-select: none;
}

@media only screen and (min-width: 480px) {
   .Square {
      font-size: 4rem;
   }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 1080px) {

}

@media only screen and (min-width: 1200px) {

}

.EmptySquare {
   display: flex;
}

.clickable-up {
   transform: translateY(-100%);
}
.clickable-down {
   transform: translateY(100%);
}
.clickable-left {
   transform: translateX(-100%);
}
.clickable-right {
   transform: translateX(100%);
}

.clickable {
   cursor: pointer;
}