.Square {
   display: flex;
   border: 2px solid black;
   height: 130px;
   width: 130px;
   background-color: goldenrod;
   justify-content: center;
   align-items: center;
   cursor: default;
   font-size: 4rem;
   transition: all 1s;
}

.EmptySquare {
   display: flex;
}

.clickable-up {
   transform: translateY(-100%);
}
.clickable-down {
   transform: translateY(100%);
}
.clickable-left {
   transform: translateX(-100%);
}
.clickable-right {
   transform: translateX(100%);
}

.clickable {
   cursor: pointer;
}