.Square {
   display: flex;
   border: 2px solid black;
   height: 100%;
   width: 100%;
   background-color: goldenrod;
   justify-content: center;
   align-items: center;
   cursor: grab;
   font-size: 4rem;
   transition: all 1s;
}

.EmptySquare {
   display: flex;
}

.clicked {
   transform: translateY(-130px);
}