.Board {
   justify-self: center;
   display: grid; 
   margin: 20px;
   padding: 20px;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 25% 25% 25% 25%;
   grid-gap: 0px;
   height: 70vh;
   width: 40vw;
   justify-items: center;
   align-items: center;
   background-color: sienna;
}