.Board {
   justify-self: center;
   display: grid; 
   margin: 20px;
   padding: 20px;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: 25% 25% 25% 25%;
   grid-gap: 0px;
   height: 530px;
   width: 530px;
   justify-items: center;
   align-items: center;
   background-color: sienna;
   border: 10px solid brown;
   border-radius: 10px;
}