.App-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(5px + 2vmin);
   margin-top: 5px;
   margin-bottom: 5px;
   color: white;
 }

.App-footer a:active {
   color: gray;
   text-decoration: none;
 }
 
 .App-footer a:visited {
  color: gray;
}